/* mobile and tablet */

@media (max-width: 1023px) {
    .header__logo__pc--link {
        display: none;
    }
    .header__logo__tablet--link {
        display: block;
    }
    .header__bar {
        padding: 0 40px;
    }
    .header-subsearch {
        margin: 0;
    }
}


/* tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .mb-0-tablet {
        margin-bottom: 0 !important;
    }
    .home-product-item__text {
        font-size: 2.2rem;
    }
    .header {
        height: 59.2vh;
    }
    .header__subnav {
        flex: 100;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }
    .header-search__nav {
        border: 1px solid var(--border-color);
        display: flex;
        background: var(--white-color);
        text-align: center;
        justify-content: center;
        max-width: 672px;
        border-radius: 38px;
        margin: 0 auto;
        position: absolute;
        bottom: -510%;
        left: -100%;
        right: -100%;
    }
    .header-search__item:nth-child(1) {
        max-width: 114px !important;
        flex: 0;
    }
    .header-search__item {
        text-align: start;
        padding: 12px 24px;
        position: relative;
        cursor: pointer;
        display: -webkit-inline-box;
    }
    .header-search__item--setwidth {
        --height: 112px;
        width: var(--height);
        max-width: 100%;
    }
    .home-product-item {
        padding: 40px 40px 0;
    }
    .app-footer-padding {
        padding: 44px 40px 0;
    }
    .home-product-item__nature-beatiful--dedail {
        padding: 0 40px;
        max-width: 280px;
    }
    .home-product-item__nature-beatiful--btn {
        margin: 18px 0 0;
    }
    /* .padding-space {
        height: 122px
    } */
    .home-product-item__nature-beatiful--title {
        font-size: 3.0rem;
    }
    .home-product-item__nature-beatiful--text {
        font-size: 1.6rem;
    }
    .header-search__btn--text {
        display: none !important;
    }
    .home-product-item__nature-beatiful--pic {
        object-fit: cover;
        object-position: 50% 50%;
        vertical-align: bottom;
        position: relative;
        width: 100%;
        border-radius: var(--border-radius-16);
        height: 362px;
        max-height: 100%;
    }
    .home-product-item__heading {
        font-size: 2.6rem;
    }
    .home-product-item__place--text {
        padding-bottom: 2px;
        font-weight: 500;
        height: 1.9rem;
        overflow: hidden;
        line-height: 1.9rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .app-footer-item {
        max-width: 100%;
        border-bottom: 1px solid var(--border-color);
        margin-bottom: 24px;
    }
    .app-footer-item__list {
        padding-bottom: 24px;
    }
    .general-privacy {
        margin-top: 0;
        border-top: none;
    }
    .general-privacy {
        flex-direction: column-reverse;
    }
    .general-privacy-item {
        margin-bottom: 16px;
    }
    .general-privacy-item {
        flex-wrap: wrap;
    }
    .copyright__block {
        text-align: center;
        width: 100%;
    }
}


/* mobile   */

@media (max-width: 739px) {}